.content {
    margin-top: 10px;
}

.news-type {
    padding: 0 200px;
    text-align: center;
}

.news-type-btn {
    margin-right: 5px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.news-list {
    margin-top: 10px;
}