<div style="position: relative; min-height: 275px;">
    <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
    <div class="content" *ngIf="!loading">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of news">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.title}}
              </mat-panel-title>
              <mat-panel-description>
                {{item.publishedAt | date}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p><b>Sub title:</b> {{item.subTitle}}</p> 
            <p><b>Author name:</b> {{item.authorName}}</p> 
            <br>
            <p><b>Information:</b> {{item.information}}</p> 
          </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
