<div class="hot-news-list">
    <h5>HOT NEWS</h5>
    <mat-divider style="margin-bottom: 10px;"></mat-divider>
    <div *ngIf="hotNews.length == 0">
      Hot news list is empty...
    </div>
    <mat-accordion *ngIf="hotNews.length > 0">
        <mat-expansion-panel *ngFor="let item of hotNews">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.title}}
            </mat-panel-title>
            <mat-panel-description>
              {{item.publishedAt | date}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><b>Sub title:</b> {{item.subTitle}}</p> 
          <p><b>Author name:</b> {{item.authorName}}</p> 
          <br>
          <p><b>News type:</b> {{item.type}}</p> 
          <br>
          <button mat-stroked-button color="accent">Read more...</button>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-divider style="margin-top: 10px; margin-bottom: 25px;"></mat-divider>
</div>
