.logo-text {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.mat-toolbar.mat-primary {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.nav-btn {
    margin-left: 10px;
}