<div style="margin-top: 68px;">
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType(null)">All</button>
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType('World')">World</button>
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType('Local')">Local</button>
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType('Sport')">Sport</button>
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType('Business')">Business</button>
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType('Technology')">Technology</button>
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType('Science')">Science</button>
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType('Health')">Health</button>
    <button class="menu-btn" mat-stroked-button (click)="getNewsByType('Entertainment')">Entertainment</button>
</div>