.content {
    display: flex;
    justify-content: center;
    padding: 0 200px;
    margin-top: 105px;

    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 600px;

        .form-field {
            margin-top: 10px;
            display: block;
        }

        .buttons {
            display: flex;
            justify-content: right;

            .btn-form-field {
                display: block;

                &:last-child {
                    margin-left: 10px;
                }
            }
        }

        .photo-add-container {
            display: flex;

            .form-field {
                margin-top: 10px;
                flex-grow: 3;
            }

            .add-photo-btn {
                margin-left: 10px;
                height: 56px;
                width: 100px;
                transition: 0.5s;

                &:hover {
                    color: white;
                    background-color: #3f51b5;
                }
            }
        }
    }
}

.file-input {
    display: none;
  }