.content {
    padding: 0 200px;
    margin-bottom: 40px;
}

.content-form {
    display: flex;
    justify-content: center;
    padding: 0 200px;
    margin-top: 105px;

    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 600px;

        .form-field {
            display: block;
        }

        .buttons {
            display: flex;
            justify-content: right;

            .btn-form-field {
                display: block;

                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
}

table {
    width: 100%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.mat-icon.mat-ligature-font[fontIcon] {
    transition: 0.5s;

    &:hover {
        color: #3f51b5;
    }

    &.delete-icon {
        transition: 0.5s;

        &:hover {
            color: red;
        }
    }
}